@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.game-board {
    width: 100%;
    height: 500px; 
    border-bottom: 10px solid rgb(0, 0, 0);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.chao {
    position: absolute;
    bottom: -120px;
    width: 45%;
}

.chao2 {
    position: absolute;
    bottom: -120px;
    width: 45%;
    right: 10%;
}

.chao3 {
    position: absolute;
    bottom: -120px;
    width: 45%;
    right: 0%;
}

.nuvem {
    position: absolute;
    right: -20%;
    width: 34%;
    animation: nuvem-animation 5s infinite linear;
}

.pipe {
    position: absolute;
    bottom: 0px;
    width: 120px;
    right: 0%;
    animation: pipe-animation 1.8s infinite linear;
}


@keyframes pipe-animation {
    from {
        right: -3%;
    }
    to {
        right: 100%;
    }
}

@keyframes chao-animation {
    from {
        right:-3%;
    }
    to {
        right: 100%; 
    }
}

@keyframes nuvem-animation {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}